/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
    padding: 15px 30px;
    color: white;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-logo a {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li {
    font-size: 1rem;
  }
  
  .navbar-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navbar-links li a:hover {
    color: #ff6347; 
  }
  
 
  .navbar-auth {
    display: flex;
    gap: 15px;
  }
  
  .navbar-auth a {
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .navbar-auth a:hover {
    background-color: #ff6347;
    color: white;
  }
  
  .navbar-register {
    background-color: #ff6347;
    color: white;
    font-weight: bold;
  }
  
  .navbar-register:hover {
    background-color: white;
    color: #ff6347;
  }

  .navbar-logout {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .navbar-logout:hover {
    background-color: #ff6347;
    color: white;
  }
  